.board-container {
  width: 40%;
  background-color: burlywood;
  margin: auto;
  padding: 30px 50px;
  margin-top: 30px;
  min-height: 500px;
  border-radius: 20px;
}

.board-container h1 {
  text-align: center;
  color: gold;
}

.list-box {
  margin-top: 30px;
  list-style: none;
}
